body {
  padding: 0;
  margin: 0;
  background: #25282F;
  color: #FFFFFF;
}

.container-custom {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1600px;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.text-primaty {
  color: #0FBFB5 !important;
  font-weight: 400 !important;
}

a {
  text-decoration: none !important;
  color: #FFFFFF !important;
}

.nohover {
  pointer-events: none;
}

.button {
  color: #FFFFFF;
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  padding: 20px 45px;
  border-radius: 10px;
}
.button-primary {
  background: #0FBFB5;
  border: none;
}
.button-gray {
  background: #9e9e9e;
  border-radius: 5px;
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: 1.2083333333;
  padding: 0;
  margin: 0;
}

.desc {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  padding: 0;
  margin: 0;
}

.header {
  background: #21242A;
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-left {
  display: inline-flex;
  align-items: center;
  gap: 0 90px;
}
.header-menu {
  display: inline-flex;
  gap: 0 42px;
  position: relative;
}
.header-menu a {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.2222222222;
}
.header-menu .header-menu-link {
  position: relative;
}
.header-menu .menu-item-dropdown::after {
  position: absolute;
  padding-left: 10px;
  content: url(../image/icon/dropdown.png);
  align-items: center;
  list-style: 1;
}
.header-menu-item {
  padding: 40px 0;
}
.header-right {
  display: inline-flex;
  align-items: center;
  gap: 0 40px;
}
.header-search {
  position: relative;
}
.header-search-in_in {
  background: #1d1f24;
  border: none;
  border-radius: 5px;
  padding: 13px 18px;
  color: #434750;
  width: 176px;
}
.header-search-in_btn {
  position: absolute;
  background: transparent;
  border: none;
  right: 18px;
  top: 50%;
  transform: translateY(-50%);
  padding: 0;
}
.header-user-info {
  display: inline-flex;
  align-items: center;
  gap: 0 14px;
}
.header-user-info .user-name {
  color: #FFFFFF;
  font-size: 18px;
  font-weight: 400;
  line-height: 1.2222222222;
}
.header-user-info .user-name span {
  color: #0FBFB5;
}

@media (hover: hover) {
  .header-menu-item {
    position: relative;
  }
  .header-menu-item.is-active::after {
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0px;
    left: 0;
    font-weight: 700;
    left: 50%;
    transform: translate(-50%, 0);
  }
  .header-menu-item.is-active .header-menu-link {
    color: #0FBFB5 !important;
  }

  .header-menu-item::after {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0px;
    left: 50%;
    transform: translate(-50%, 0);
    background: #0FBFB5;
    transition: all 0.2s linear;
  }

  .header-menu-item:hover::after {
    width: 100%;
  }
  .header-menu-item:hover .header-menu-link {
    color: #0FBFB5 !important;
  }
}
@media screen and (max-width: 1300px) {
  .header-menu {
    display: none;
  }

  .header-search {
    display: none;
  }

  .header-left img {
    max-width: 150px;
    padding: 20px 5px;
  }
}
@media screen and (max-width: 992px) {
  .header-right .header-bells {
    display: none;
  }
  .header-right .header-user-info {
    display: none;
  }
}
.toggle-menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
  flex-direction: column;
}
.toggle-menu span {
  width: 100%;
  height: 2px;
  background: #FFFFFF;
}

.wrapper {
  padding: 70px 0;
}

.wrapper-container {
  display: flex;
  flex-wrap: wrap;
}

.wrapper-container-left {
  width: 18%;
}

.wrapper-container-content-right {
  width: 82%;
  padding-left: 130px;
}

@media screen and (max-width: 1700px) {
  .wrapper-container-left {
    width: 18%;
  }

  .wrapper-container-content-right {
    width: 82%;
    padding-left: 50px;
  }
}
@media screen and (max-width: 1200px) {
  .wrapper-container-left {
    display: none;
  }

  .wrapper-container-content-right {
    width: 100%;
    padding: 0;
    margin: 0;
  }
}
.silder-menu-title {
  font-weight: 700;
  font-size: 24px;
  color: #0FBFB5;
  line-height: 1.2083333333;
  margin-bottom: 25px;
}
.silder-menu-list-content {
  position: relative;
  margin-bottom: 30px;
  padding: 0 0 30px 0px;
}
.silder-menu-list-content:last-child::after {
  height: 0;
}
.silder-menu-list-content::after {
  content: "";
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 0.08rem;
  background: linear-gradient(to right, transparent 10%, #5f5f5f 50%, transparent 80%);
}
.silder-menu-list-content-item {
  display: flex;
  cursor: pointer;
  justify-content: space-between;
  align-items: center;
  padding: 15px 20px;
  transition: 0.3s linear;
}
.silder-menu-list-content-item a {
  color: #C0C0C0 !important;
}
.silder-menu-list-content-item.is-active {
  background: linear-gradient(90deg, rgba(33, 36, 43, 0) 0%, #3a3d45 73.75%);
  border-radius: 5px;
}
.silder-menu-list-content-item.is-active a {
  color: #FFFFFF !important;
}
.silder-menu-list-content-item:hover a {
  color: #FFFFFF !important;
}
.silder-menu-list-content-item:hover .item-left label {
  color: #FFFFFF;
}
.silder-menu-list-content-item .item-left {
  display: inline-flex;
  align-items: center;
  gap: 0px 10px;
}
.silder-menu-list-content-item .item-left .menu-icon {
  display: block;
  width: 40px;
  height: 40px;
  background: #3A3D45;
  border-radius: 50%;
  position: relative;
}
.silder-menu-list-content-item .item-left .menu-icon img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.silder-menu-list-content-item .item-left label {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2222222222;
  color: #C0C0C0;
  transition: 0.3s linear;
}

.footer {
  background: #21242A;
}
.footer .container-custom {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
  padding-bottom: 30px;
}
.footer-sp-menu {
  display: inline-flex;
  gap: 0 50px;
}
.footer-left {
  display: inline-flex;
  gap: 0 50px;
}
.footer-left span {
  position: relative;
  font-size: 13px;
  font-weight: 400;
  line-height: 1.2307692308;
  display: inline-flex;
  align-items: center;
  color: #bfbfbf;
}
.footer-left span::before {
  position: absolute;
  content: "";
  display: block;
  width: 6px;
  height: 6px;
  border: none;
  top: 50%;
  left: -15px;
  transform: translateY(-50%);
  border-radius: 100rem;
  background-color: #bfbfbf;
}
.footer-right span {
  font-weight: 400;
  font-size: 13px;
  line-height: 1.2307692308;
}

@media screen and (max-width: 1200px) {
  .footer {
    background: #21242A;
  }
  .footer .container-custom {
    text-align: center;
    display: block;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  .footer-left {
    margin-bottom: 20px;
  }
}
@media screen and (max-width: 992px) {
  .footer-sp-menu {
    display: none;
  }
}
.content-right {
  padding-left: 120px;
  margin-top: 20px;
}

.welcome-space {
  background: #3A3D45;
  border-radius: 5px;
  padding: 103px 100px 130px 0px;
  overflow: hidden;
  display: inline-flex;
  gap: 0 30px;
}

.welcome-logo {
  position: relative;
}
.welcome-logo .logo-2 {
  transform: rotate(1.69deg);
  position: relative;
  left: -5px;
}
.welcome-logo .logo-1 {
  position: absolute;
  right: 56px;
  top: 25px;
}
.welcome-content {
  margin-top: -20px;
}
.welcome-content img {
  margin-bottom: 40px;
}
.welcome-content h3 {
  margin-bottom: 15px;
}
.welcome-content p {
  margin-bottom: 62px;
}

@media screen and (max-width: 1700px) {
  .welcome-space {
    padding: 53px 50px 65px 0px;
    gap: 0 20px;
  }

  .welcome-logo .logo-2 {
    max-width: 550px;
  }
}
@media screen and (max-width: 1600px) {
  .welcome-space {
    padding: 43px 40px 45px 0px;
    gap: 0 20px;
  }

  .welcome-logo .logo-2 {
    max-width: 450px;
  }
}
.account-information .title {
  color: #C0C0C0;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2222222222;
}
.account-information-item {
  background: #3A3D45;
  border-radius: 5px;
}
.account-information .panel {
  background: #3A3D45;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}
.account-information .panel-edit {
  padding: 27px 0px 30px 0px;
  margin: 0px 20px;
  border-top: 1px solid #25282f;
}
.account-information .panel .change-group {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  gap: 25px 20px;
}
.account-information .panel .change-group p {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
}
.account-information .panel .change-group .ip-group {
  display: inline-flex;
  gap: 0 20px;
  width: 100%;
}
.account-information .panel .change-group .ip-group input {
  color: #7a8297;
  font-weight: 400;
  width: 33.33%;
}
.account-information .panel .change-group .ip-group input::placeholder {
  color: #7a8297;
}
.account-information .panel .change-group .btn-group {
  gap: 0 20px;
  display: inline-flex;
  width: 100%;
  justify-content: end;
}
.account-information .panel .change-group input {
  background: #ffffff;
  border-radius: 5px;
  border: none;
  padding: 15px;
  color: #0FBFB5;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.1875;
}
.account-information .panel .change-group input::placeholder {
  color: #0FBFB5;
}
.account-information .panel .change-group input:focus {
  border: none;
  color: #0FBFB5;
}
.account-information .panel .change-group .button {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  padding: 14.5px 35px !important;
  border-radius: 5px !important;
}

.account-view {
  padding: 15px 20px;
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account-left {
  display: flex;
  align-items: center;
  gap: 0 60px;
}
.account-logo {
  width: 175px;
}
.account-logo img {
  padding: 8px;
  border-radius: 50rem;
  background: #2d3139;
  margin-right: 20px;
}
.account-logo span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #C0C0C0;
}
.account-name {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.2222222222;
  position: relative;
}
.account-name::before {
  position: absolute;
  display: block;
  content: "";
  width: 6px;
  height: 6px;
  border-radius: 100rem;
  background-color: #C0C0C0;
  top: 50%;
  transform: translateY(-50%);
  left: -33px;
}
.account-edit-btn {
  padding: 5px 9px 5px 15px;
  background: #2d3139;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 0 10px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}
.account-edit-btn span {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  color: #757575;
}
.account-edit-btn:hover {
  background: rgb(46, 50, 56);
}
.account-edit-btn:hover span {
  color: #0FBFB5;
}
.account-edit-btn:hover img {
  content: url("../image/icon/Edit-acctive.png");
}
.account-edit-btn.active span {
  color: #0FBFB5;
}
.account-edit-btn.active img {
  content: url("../image/icon/Edit-acctive.png");
}

@media screen and (max-width: 600px) {
  .account-name {
    display: none;
  }
}
.security-logo {
  width: 300px !important;
}
.security-btn-hover-check:hover img {
  content: url("../image/icon/check_ring_round_ac.png");
}
.security-btn-hover-check.active img {
  content: url("../image/icon/check_ring_round_ac.png");
}
.security-btn-hover-import:hover img {
  content: url("../image/icon/Import_ac.png");
}
.security-btn-hover-import.active img {
  content: url("../image/icon/Import_ac.png");
}
.security-title {
  font-weight: 400;
  font-size: 24px;
  line-height: 1.25;
  padding-bottom: 10px;
}
.security-desc {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  margin: 0;
  padding-bottom: 35px;
}
.security-button {
  border-radius: 5px;
  padding: 15px 35px;
}
.security-change-form {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px 0;
}
.security-change-form input {
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 16px;
  width: 100%;
}
.security-change-form input::placeholder {
  color: #7a8297;
}
.security-change-form input:focus {
  border: none;
  color: #7a8297;
}
.security-change-form .ip-group {
  position: relative;
  width: 100%;
}
.security-change-form .ip-group img {
  position: absolute;
  top: 50%;
  right: 15px;
  transform: translateY(-50%);
}
.security-change-form textarea {
  background: #FFFFFF;
  border-radius: 5px;
  border: none;
  padding: 16px;
}
.security-change-form textarea::placeholder {
  color: #7a8297;
}
.security-change-form textarea:focus {
  border: none;
  color: #7a8297;
}
.security-change-form .button {
  width: 100%;
  border-radius: 5px;
  padding-top: 15px;
  padding-bottom: 15px;
}
.security-authentication {
  gap: 20px 70px;
}
.security-authentication .title {
  font-weight: 400;
  font-size: 24px;
  line-height: 2.1428571429;
}
.security-authentication p {
  margin: 0;
}
.security-authentication p:last-child {
  padding-bottom: 50px;
}
.security-authentication .img-group {
  display: inline-flex;
  flex-wrap: wrap;
  gap: 20px 20px;
}
.security-au-left {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.security-au-left img {
  padding: 20px;
  background: #FFFFFF;
  border-radius: 5px;
  margin-bottom: 40px;
}
.security-au-left p {
  width: 100%;
  text-align: left;
  margin: 0;
}
.security-au-left p:last-child {
  padding-bottom: 0px;
  margin-bottom: 24px;
}
.security-au-left input {
  width: 100%;
  border: none;
  background: #FFFFFF;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 25px;
}
.security-au-left .button {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #5a5a5a;
  color: #3A3D45 !important;
}

@media screen and (max-width: 512px) {
  .account-view {
    display: block;
  }
  .account-view .security-btn-hover-check {
    margin-top: 20px;
    display: inline-flex;
  }
  .account-view .account-edit-btn {
    margin-top: 20px;
    display: inline-flex;
  }
  .account-view .security-btn-hover-import {
    margin-top: 20px;
    display: inline-flex;
  }
}
.inventory-btn-top {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  gap: 0 20px;
}
.inventory-btn-top .button {
  display: flex;
  align-items: center;
  padding: 15px 30px;
  border-radius: 5px;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.2083333333;
}
.inventory-btn-top .button img {
  margin-right: 5px;
}
.inventory-items {
  margin-top: 25px;
}
.inventory-item {
  background: #3A3D45;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 27px;
  margin-top: 20px;
}
.inventory-item-token-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.inventory-token-price span {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #FFFFFF;
  position: relative;
}
.inventory-token-price span::before {
  position: absolute;
  content: "";
  top: 50%;
  left: -20px;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 12px;
  background: #0FBFB5;
  border-radius: 100rem;
}
.inventory-token {
  display: flex;
  align-items: center;
  width: 280px;
  gap: 0 30px;
}
.inventory-token h6 {
  margin: 0;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}
.inventory-token span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  color: #C0C0C0;
}
.inventory-item-token-group {
  display: flex;
  align-items: center;
  gap: 0 20px;
}
.inventory-btn-item {
  text-align: center;
  position: relative;
  width: 75px;
  height: 75px;
  border-radius: 100rem;
  background: #2d3139;
  cursor: pointer;
}
.inventory-btn-item .item {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.inventory-btn-item .item span {
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
}

@media screen and (max-width: 992px) {
  .inventory-item {
    flex-direction: column;
    gap: 20px 0;
  }

  .inventory-token {
    width: 200px;
    margin-bottom: 20px;
  }
  .inventory-token .text {
    text-align: left;
  }
  .inventory-item-token-price {
    display: block;
    text-align: center;
  }
}

/*# sourceMappingURL=index.css.map */
