body {
  padding: 0;
  margin: 0;
  background: $bg-primary;
  color: $text_white;
  font-family: 'Inter', sans-serif;
}

.container-custom {
  margin: 0 auto;
  padding: 0 10px;
  max-width: 1600px;
}

ul {
  list-style: none !important;
  margin: 0 !important;
  padding: 0 !important;
}

.text-primaty {
  color: $text-primary !important;
  font-weight: 400 !important;
}

a {
  text-decoration: none !important;
  color: $text_white !important;
}

.nohover {
  pointer-events: none;
}

.button {
  color: $text_white;
  font-weight: 600;
  font-size: 18px;
  display: inline-block;
  line-height: calc(22 / 18);
  padding: 20px 45px;
  border-radius: 10px;
  &-primary {
    background: $text-primary;
    border: none;
    &.is-active { 
      background: #3A3D45; 
    }
  }
  &-gray {
    background: #3A3D45;
    border-radius: 5px;
    &.is-active { 
      background: $text-primary; 
    }
  }
  &-outline {
     background: transparent;
     border: 1px solid $text-primary;
     color: $text-primary !important;
     border-radius: 5px;
  }
  &-blue {
    background: #1B75BC;
  }
}

.title {
  font-weight: 600;
  font-size: 48px;
  line-height: calc(58 / 48);
  padding: 0;
  margin: 0;
}

.desc {
  font-weight: 400;
  font-size: 24px;
  line-height: calc(30 / 24);
  padding: 0;
  margin: 0;
}
