.store-info {
  background: $bg-black;
  border-radius: 5px;
  &-top {
    padding: 25px 10px;
    margin: 0 20px;
    border-bottom: 0.5px solid #5a5a5a;
    .title {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: $text_white;
    }
  }
  &-content {
    display: flex;
    justify-content: flex-start;
    padding: 40px;
    gap: 0 40px;
    &-left {
      width: 40%;
      img {
        width: 100%;
      }
    }
    &-right {
      width: 40%;
      .title {
        font-weight: 700;
        font-size: 36px;
        line-height: 44px;
        display: block;
        color: $text_white;
        margin-bottom: 10px;
      }
      .sold-out {
        font-weight: 500;
        font-size: 24px;
        line-height: 30px;
        display: block;
        margin-bottom: 15px;
      }
      .info-game {
        background: #25282f;
        border-radius: 37px;
        width: 230px;
        padding: 15px;
        display: flex;
        align-items: center;
        gap: 0 13px;
        font-weight: 400;
        font-size: 18px;
        line-height: 22px;
        margin-bottom: 28px;
      }
      .desc {
        font-weight: 400;
        font-size: 16px;
        line-height: 23px;
        color: $text_white;
        margin-bottom: 35px;
      }
      .current-price {
        padding: 30px;
        background: #2a2e36;
        border-radius: 5px;
        .current {
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $text-gray2;
          display: block;
          margin-bottom: 15px;
        }
        .price-now {
          display: flex;
          gap: 0 15px;
          align-items: center;
          font-weight: 400;
          font-size: 18px;
          line-height: 22px;
          color: $text-gray2;
          margin-bottom: 30px;
          strong {
            font-weight: 700;
            font-size: 36px;
            line-height: 44px;
            color: $text_white;
          }
        }
        .button {
          width: 80%;
          display: flex;
          align-items: center;
          justify-content: center;
          gap: 15px;
          padding-top: 20px;
          padding-bottom: 20px;
        }
      }
    }
  }
}

.hot-item {
  &-top {
    span {
      font-weight: 500;
      font-size: 24px;
      line-height: 30px;
      color: $text_white;
      padding: 20px 0;
      display: block;
      border-bottom: 0.5px solid #5a5a5a;
    }
  }
  &-content {
    padding: 50px 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 0 40px;
    &-item {
      text-align: center;
      .item-image {
        background-image: url("../image/store/bg_store_list.png");
        background-repeat: no-repeat;
        background-position: top center;
        .cn {
           margin: 30px auto;
        }
      }
      .name {
        font-weight: 700;
        font-size: 18px;
        line-height: 22px;
        color: $text_white;
        margin-bottom: 11px;
        display: block;
      }
      .rarity-price {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 10px;
        .rarity {
          padding: 5px 17px;
          font-weight: 400;
          font-size: 14px;
          line-height: 17px;
          color: $text-gray2;
          background: #21242a;
          border-radius: 29px;
          display: flex;
          align-items: center;
          gap: 0 5px;
        }
      }
      .rank {
        color: $text_white;
        font-weight: 400;
        font-size: 16px;
        line-height: 19px;
      }
    }
  }
}
